@import '../styles/variables.scss';

.k-quote {
    background: $color-white;
    display: flex;
    flex-direction: column;
    padding: 2em;
    text-align: left;
    box-sizing: border-box;

    &-two {
       display: flex;
       padding:3em;
    }

    &__text {
        font-size: 1rem;
        line-height: 30px;

        &:before, &:after{
            content: '"';
        }

        &--large {
            font-size: 1.4rem;
            font-weight: 400;
        }
    }

    &__credit {
        align-items: center;
        display: flex;
        font-size: .8rem;
        margin-top: 1.5em;
    }

    &__headshot {
        border-radius: 9999em;
        margin: 0 1rem 0 0;
        width:60px;
        height: 60px;
    }

    &__name {
        font-weight: 700;
    }

    &--bordered {
        margin-top: 4rem;
        position: relative;
        display: flex;
        justify-content: center;

        &:before {
            content: '';
            background: linear-gradient($grad-pink, $grad-orange);
            display: block;
            position: absolute;
            width: 1rem;
            margin-left: -4rem;
            height: calc(100% + 4rem);
            margin-top: -1rem;
            transform: skewY(-10deg) rotate(10deg);
        }

    }
  
}

@media screen and (max-width: 800px){
    .k-quote{
        width: 100%;
    }
}

@media screen and (max-width: 500px){
    .k-quote{

        &__text{
            font-size: 14px;
            line-height: 24px;
            margin-top: 0;
        }

        &__credit{
            font-size: 12px;
            line-height: 18px;
        }
    }
}