@import '../styles/variables.scss';

.k-card {
    background: $color-white;
    border: 1px solid transparentize($color-medGrey, .5);
    border-radius: 5px;
    box-shadow: 3px 3px 3px transparentize($color-medGrey, .7);
    box-sizing: border-box;
    color: $color-black;
    display: flex;
    height: 100%;
    flex-direction: column;
    position: relative;
    transition: all .2s;
    width: 100%;

    &:hover {
        border: 1px solid transparentize($color-medGrey, .2);
        box-shadow: 7px 7px 7px transparentize($color-medGrey, .8);
    }

    &__image {
        background: $color-lightGrey;
        border-radius: 5px 5px 0 0;
        text-align: center;

        img {
            vertical-align: bottom;
        }
    }

    &__content {
        padding: 2rem;
    }

    &__meta {
        background: $color-lightGrey;
        box-sizing: border-box;
        border-radius: 0 0 5px 5px;
        color: $color-darkGrey;
        font-size: .8rem;
        margin: auto 0 0;
        padding: .25rem .5rem;
        width: 100%;
    }
}