.k-grid-item {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;

        &--2 { grid-column-end: span 2; }
        &--3 { grid-column-end: span 3; }
        &--4 { grid-column-end: span 4; }
        &--5 { grid-column-end: span 5; }
        &--6 { grid-column-end: span 6; }
        &--7 { grid-column-end: span 7; }
        &--8 { grid-column-end: span 8; }
        &--9 { grid-column-end: span 9; }
        &--10 { grid-column-end: span 10; }
        &--11 { grid-column-end: span 11; }
        &--12 { grid-column-end: span 12; }

        &--top {
            justify-content: flex-start;
        }

        &--left {
            align-items: flex-start;
        }

        &--row {
            flex-direction: row;

            &.k-grid-item--left {
                justify-content: flex-start;
                align-items: center;
            }

            &.k-grid-item--top {
                align-items: flex-start;
            }
        }

        * {
            max-width: 100%;
        }
    }